{% extends 'base.html.twig' %}

{% block title %}Rayon: {{ rayon.name }}{% endblock %}

{% block body %}
    <h1>Rayon: {{ rayon.name }}</h1>

    <h2>Products in this Rayon:</h2>

    {% if products is empty %}
        <p>No products available for this rayon.</p>
    {% else %}
        <table id="productsTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.discreption }}</td>
                        <td>{{ product.price }}€</td>
                        <td>
                            <img src="{{ asset('uploads/' ~ product.image) }}" alt="{{ product.name }}" width="100">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
